
#header {
  border-bottom: 1px solid #ddd;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding: 15px;
}

#header .menu {
  list-style: none;
  margin-top: 2px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#footer ul li a img {
  height: 50px;
  width: 50px;
}

#footer {
    border-top: 1px solid #ddd;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

#footer ul li {
  list-style: none;
  display: inline;
  margin-top: 2px;
  float: right;
  padding: 5px;
}

#footer h2 {
  float:right;
}

#content {
  padding-top: 50px;
  padding-bottom: 50px;
}

#contacts li {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.showGallery {
  display: block;
}

.hideGallery {
  display: none;
}

.showContacts {
  display: block;
}

.hideContacts {
  display:none;
}

.showMain {
  display:block;
}

.hideMain {
  display: none;
}

#gallery img {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 300px;
}