
/*** HEADER ***/
.header-image {
	display: none;
}

/*** NAV ***/
.navbar {
	background: transparent;
    position: relative;
    z-index: 9999;
}

.nav-link {
  background-color: #031248;
	color: white;
  margin-bottom: 5px;
}

.nav-brand-section {
  display: contents;
}

.navbar-brand {
  color: #031248;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-right: unset;
}

.navbar-icons {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-link-block > li:nth-child(4) {
	/*border-right: 1px solid #031248;*/
}

.fa {
  display: inline-block;
  font-size: 28px;
  padding-left: 10px;
  padding-right: 10px;
}

.fa-bars {
  font-size: 20px;
  color: #031248;
}

/*** ART-HOME ***/
.art-home {
	margin-left: 5px;
    margin-right: 5px;
}

.art-home a {
	color: #031248;
}

.art-home a:hover {
	color: #55ddff;
	text-decoration: none;
}

.art-home-snip {
	font-size: 11px;
    line-height: 2em;
    font-weight: 500;
    opacity: 0.6;
}

/*** ART-LIST ***/
.art-list-image {
  max-height: 250px;
  max-width: 250px;
}

.art-list-item {
  display: inline-block;
  margin-right: 90px;
}

/*** ART-INSTALLATIONS ***/
.art-installations-block {
  padding: 5px;
}

.art-installations-image {
  border: 1px solid #031248;
  border-radius: 5px;
  margin: auto;
  display: inline-block;
}

.art-installations-image-close {
  position: absolute;
  top: 30px;
  right: 35px;
  color: white;
}

.art-installations-image-enlarge {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index:  1;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(3,18,72,0.85);
  }

.art-installations-image-enlarge-content {
  margin: auto;
  display: block;
  max-width: 700px;
  padding-top: 65px;
}

.art-installations-image-transition {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

/*** ART-CONTACTS ***/
.contacts {
  margin-top: 5%;
}

.contacts-email {
  width: 70%;
}

.contacts-textarea {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*** GENERAL ***/
body {
	color: #031248;
  font-family: 'Krona One', sans-serif;
}

.btn {
  background-color: #031248;
  color: white;
}

.landing-image {
	background: url(img/desktop3.jpg) no-repeat;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  overflow: hidden;
}

.border-underline {
	border-bottom: 1px solid #55ddff;
}

.align-center {
	text-align: center;
}

.inline {
	display: inline;
}

.base-class.my-class {
  color: red;
  font-size:3em;
}

.constraints {
  max-width: 500px;
}

button:focus {
  outline: none;
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 24px;
  }

  .nav-link {
    background-color: unset;
    color: #031248;
    margin-bottom: unset;
  }

  .nav-borders {
    border-left: 1px solid #031248;
  }

  .nav-borders:hover  {
    border-top : 1px solid #031248;
    border-bottom : 1px solid #031248;
  }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar-icons {
    bottom: unset;
    background-color: unset;
    position: unset;
    display: unset;
    padding-top: unset;
    padding-bottom: unset;
  }
}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*@media only screen and (min-width: 400px) {
  .navbar-brand {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1100px) {
  .navbar-icons {
    bottom: unset;
    background-color: unset;
    position: unset;
    display: unset;
    padding-top: unset;
    padding-bottom: unset;
  }
}*/